.costBucketNameContainet {
  margin: 0px;
  padding: var(--spacing-small) !important;

  .nameInput {
    margin-bottom: 0px;
  }
}

.mainContainer {
  width: 100%;
  padding: 0px !important;
  margin-top: var(--spacing-medium);
}
